
  body {
  
  padding-right: 10px;
  }
  
  h1 {
    text-align: center;
    padding-top: 20px;
    color: black;
   
    font-family: 'Courier New', Courier, monospace;
  }
  
  h2 {
    color: midnightblue;
    
    font-family: cursive;
  }
  #especial{
    color: rgb(239, 34, 3);
    text-align: right;
  }
  h3 {
    color: midnightblue;
    
    font-family: cursive;
  }
  h4 {
    color: midnightblue;
   
    font-family: cursive;
  }
  a :hover{
    background-color:aliceblue;
    ;
  }
  p{
    font-size: 50%;
  }

  /* Responsive */

@media(max-width: 600px) {

  .menu-simple ul{

    flex-direction: column;
		align-items: initial;
		text-align: center;
  }
.pie_pagina .centrado .container {
  flex-direction: column;
  align-items: initial;
  text-align: center;
    }
    .container .box3  {
      flex-direction: column;
		align-items: initial;
		text-align: center;
    }
    .logo{
      border-radius:25px ;
      width:70%;
     
    }
}
@media(max-width: 500px) {

  .menu-simple ul{

    flex-direction: column;
		align-items: initial;
		text-align: center;
    background: hsl(34, 90%, 45%);
    height: auto;
		flex-wrap: nowrap;
}
  
.pie_pagina .centrado .container {
  flex-direction: column;
  align-items: initial;
  text-align: center;
    }
    .container .box3  {
      flex-direction: column;
		align-items: initial;
		text-align: center;
    }
    .logo{
      border-radius:25px ;
      width:70%;
     
    }
    
}
